.section{
background-color: #36565E;
width: auto;
height: auto;
}

.formWrap{
    background-color: #71a2ac;
    position: unset;
}

.home {
    color: white;
    font-weight: normal;
    text-decoration: none;
    position: absolute;
    top: 30px; 
    right: 50px; 
  }
  
