.App {
    text-align: center;
    margin-top: 50px;
  }
  
  .background {
    position: relative;
  }

  .background img {
    width: 100%; 
    z-index: -1;
    top: -130px;
    right: 0;
    position: fixed;
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 100%, 100% 0%);
    -webkit-clip-path: polygon(0% 0%, 100% 100%, 100% 0%);
  }

  h1{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Gölge tanımı */
  }

  h2{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Gölge tanımı */
  }