.App {
    text-align: center;
    margin-top: 50px;
  }

     
/* Dashboard.css */

.dashboard-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
}

.dashboard-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  border: none;
}

.dashboard-link {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.dashboard-link:hover {
  color: lightgray;
}
