@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0px 30px 0px 30px;
  background-color: #36565E;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.jomhuria-regular {
  font-family: "Jomhuria", serif;
  font-weight: 400;
  font-style: normal;
}
